.basic-page-header {
  max-width: 800px;
  text-align: center;
  margin: 60px auto 80px auto;
}

.navbar.basic-navbar {
  color: #f97353;
  position: relative;
  left: auto;
  -webkit-transform: none;
  transform: none;
  top: 0px;
}
.navbar.basic-navbar .navbar-right a {
  color: #f97353;
}
.navbar.basic-navbar a.navbar-left {
  color: #f97353;
}

.blog-list {
  margin: auto;
  max-width: 600px;
}
.blog-list-item {
  padding: 20px 30px;
  border: 1px solid #e3e3e3;
  border-radius: 15px;
  background-color: white;
  margin: auto;
}
.blog-list-title {
  margin-bottom: 2px;
}
.blog-list-date {
  margin-bottom: 16px;
}
.blog-preview {
  display: inline;
}
.blog-list-continue {
  display: inline;
  font-weight: 500;
}

.blog {
  margin: auto;
  max-width: 600px;
}
