@font-face {
  font-family: 'SourceSans';
  src: url('SourceSansPro-Regular.ttf');
}

.navbar-left {
  font-family: 'SourceSans';
  font-size: 32px;
}

.footer-header {
  font-family: 'SourceSans';
  font-size: 22px;
}

.splash-title {
  font-family: 'SourceSans';
  font-size: 30px;
}
.splash-text {
  font-family: 'SourceSans';
  font-size: 24px;
}

.content-block-title {
  font-family: 'SourceSans';
  font-size: 22px;
}
.content-block-text {
  font-family: 'SourceSans';
  font-size: 20px;
}

.small-text {
  font-family: 'SourceSans';
  font-size: 18px;
}

.check-out-text {
  font-family: 'SourceSans';
  font-size: 18px;
  color: #f97353;
  font-weight: 600;
  letter-spacing: 0.4;
}

.blog-list-title {
  font-family: 'SourceSans';
  font-size: 26px;
}
.blog-list-date {
  font-family: 'SourceSans';
  font-size: 16px;
}

.soft-link {
  font-family: 'SourceSans';
  color: #f97353;
}
