body {
  overflow-x: hidden;
  background-color: #FBFBFB;
  margin: 0px;
}
.container {
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  opacity: 0.7;
  cursor: pointer;
}
.footer {
  display: flex;
  max-width: 800px;
  margin: auto;
  padding: 30px 0;
}
.footer-header {
  display: inline-block;
}
.footer-header span {
  position: relative;
  bottom: 6px;
  margin-left: 6px;
}
.footer .flex-spacer {
  flex-grow: 1;
}
.footer-header img {
  max-width: 20px;
}
.footer-item {
  color: #f97353;
  margin: 0 10px;
}

.navbar {
  height: 90px;
  line-height: 90px;
  width: 100%;
  max-width: 800px;
  margin: auto;
  border-radius: 0 0 15px 15px;
  color: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0px;
}

.navbar-left {
  float: left;
}
.navbar-left img {
  max-height: 40px;
  vertical-align: middle;
}
.navbar-right {
  float: right;
  font-weight: 600;
}
.navbar-right a {
  color: white;
  margin: 0 8px;
}

.splash-block {
  z-index: -1;
  background-image: linear-gradient(to bottom right, #ff9630, #f3546f);
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
  border-radius: 15px;
  height: 600px;
  position: relative;
  top: -20px;
  margin-bottom: -90px;
  width: calc(100% - 20px);
}
.splash-block-bg {
  background-color: lightsalmon;
}
.splash-content {
  width: 60%;
  position: relative;
  top: 190px;
  margin: auto;
  max-width: 800px;
  color: white;
  font-weight: 600;
}
.splash-graphic {
  float: right;
  width: 60%;
}

.app-screenshot {
  position: relative;
  width: 46%;
  border-radius: 15px;
  left: 50%;
  top: -30px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 3px;
  background-image: linear-gradient(to bottom right, #F97550, #f3546f);
}

.container .content-block:first-of-type {
  position: relative;
  top: 470px;
}
.content-block {
  position: relative;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
}
.content-block-center,
.content-block-left,
.content-block-right {
  border-radius: 15px;
}
.content-block-center.content-block-writing {
  width: 70%;
  margin: auto;
}
.content-block-left {
  display: inline-block;
}
.content-block-right {
  position: relative;
  display: inline-block;
}
.content-block-writing {
  padding: 0 20px;
  width: calc(65% - 40px);
  background-color: white;
  border: 1px solid #e3e3e3;
}
.content-block-graphic {
  width: calc(35% - 40px);
}

.content-block .content-block-center .content-block-title {
  text-align: center;
}
.content-block .content-block-center .content-block-text {
  padding: 0 30px;
}

.check-out-the-app {
  width: 100%;
  padding: 60px 0;
  background-color: white;
}
.check-out-text {
  text-align: center;
  max-width: 400px;
  margin: auto;
}
.check-out-the-app .button {
  position: relative;
  left: calc(50% - 83px);
  margin-top: 18px;
}

.button.action-btn {
  text-decoration: none;
  padding: .78571429em 1.5em .78571429em;
  border-radius: .28571429rem;
  border: 2px solid #f97353;
  color: #f97353;
  background-color: white;
  font-weight: 600;
}
.button.action-btn:hover {
  cursor: pointer;
  border: 2px solid #f97353;
  box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, .25);
  background-color: white;
  color: #f97353;
}
.button.action-btn:focus {
  cursor: pointer;
  border: 2px solid #f97353;
  box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, .25);
  background-color: white;
  color: #f97353;
}
.button.action-btn:active {
  cursor: pointer;
  border: 2px solid #f97353;
  background-color: white;
  box-shadow: none;
  color: #f97353;
}
