.container {
  margin: 3rem auto 0 auto;
  max-width: 690px;
}

.logo {
  display: block;
  margin: auto;
  margin-bottom: 4rem;
  width: 40px;
}

.punchline {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'IBM Plex Sans', sans-serif;
}

#mc_embed_signup {
  display: block;
  margin: auto;
  width: 424px;
  position: relative;
}
#mc_embed_signup input.email {
  width: 280px;
  position: absolute;
  top: 0px;
  display: inline-block;
  height: 49px;
  padding: 12px;
  font-size: 18px;
  border-radius: 8px;
  font-family: 'IBM Plex Sans', sans-serif;
  border: 1px solid #d9d9d9;
  /* Overwrite */
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
#mc_embed_signup div.clear {
  display: inline-block;
}
#mc_embed_signup div.clear input.button {
  width: 166px;
  position: absolute;
  top: 0px;
  left: 286px;
  background-color: #F97353;
  border-radius: 10px;
  padding: 11px 24px;
  color: white;
  font-size: 20px;
  height: 49px;
  font-family: 'IBM Plex Sans', sans-serif;
  /* Overwrite default */
  outline: none;
  border: none;
  -webkit-appearance: none;
}
input.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.icon-bar {
  margin-top: 140px;
  position: relative;
  display: inline-block;
  left: calc(50% - 500px);
}
.icon-bar img {
  width: 1000px;
  box-shadow: 0px 2px 44px 0px rgba(0, 0, 0, 0.1);
}

.features {
  margin-top: 120px;
}
.feature {
  width: 29%;
  display: inline-block;
  margin: 0 2%;
}
.feature-icon {
  display: block;
  margin: auto;
  margin-bottom: 12px;
  text-align: center;
}
.feature-title {
  font-size: 20px;
  color: #1b1b1b;
  margin-bottom: 12px;
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
}
.feature-description {
  font-size: 16px;
  color: #69636b;
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
}

.footer-icon {
  margin: auto;
  display: block;
  margin-top: 120px;
  margin-bottom: 80px;
  width: 40px;
}

@media only screen and (max-width: 1120px) {
  .icon-bar {
    left: 0px;
  }
  .icon-bar img {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .container {
    padding: 0 40px;
  }
  .punchline {
    font-size: 24px;
  }

  #mc_embed_signup {
    width: 100%;
  }
  #mc_embed_signup input.email {
    display: block;
    left: 0px;
    width: 100%;
  }
  #mc_embed_signup div.clear {
    display: block;
  }
  #mc_embed_signup div.clear input.button {
    top: 56px;
    left: 0px;
    width: 100%;
  }

  .icon-bar {
    margin-top: 10rem;
  }

  .features {
    margin-top: 3rem;
  }
  .feature {
    display: block;
    width: 100%;
    max-width: 190px;
    margin: auto;
    margin-bottom: 40px;
  }

  .footer-icon {
    margin-top: 80px;
  }
}
